src/main/resources/rpncalculator.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tektutor.org/rpncalculator-web-service" targetNamespace="http://tektutor.org/rpncalculator-web-service" elementFormDefault="qualified">

	<xs:element name="RPNCalculatorRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rpnExpression" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="RPNCalculatorResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" type="xs:double" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
